table.versions th.head {
    min-width: 75px;
    text-align: right;
}

table.versions th.head:nth-child(1) {
    text-align: center;
}

table.versions td {
    text-align: right;
}

.block-list a, .block-list .rst-content dl dt {
    font-weight: 400;
}

.block-list .line {
    font-size: 90%;
}