em.alt {
    font-size: 13px;
    color: lightslategray;
}

em.target {
    font-weight: 700;
    color: #0A0A0A;
}

em.lower {
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
}

abbr.sub {
    color: slategray;
}

strong.right {
    display: block;
    font-size: 90%;
    text-align: end;
}

p:has(strong.right) {
    margin: 0px 0px 0.5em 0px;
}

section:has(p:nth-child(2) > strong.right) > :is(h1, h2):nth-child(1),
section:has(.toctree-wrapper:nth-child(2)):has(p:nth-child(3) > strong.right) > .toctree-wrapper > ul {
    margin-bottom: 0.3em;
}